.jobs-container {
  background-color: #000000;
  min-height: 100vh;
  padding: 30px 12px 15px 12px;
  display: flex;
  flex-direction: column;
}

.side-bar-desktop-container {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.jobs-input-container-mobile {
  width: 100%;
  border: 1px solid #f1f5f9;
  height: 40px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.jobs-input-container-desktop {
  width: 350px;
  border: 1px solid #cbd5e1;
  height: 40px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: 17px;
  padding-left: 5px;
}

.jobs-input-El {
  width: 90%;
  outline: none;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 16px;
  border: none;
  color: #f1f5f9;
  outline: none;
  padding-left: 10px;
}

.search-icon {
  color: #cbd5e1;
  font-size: 18px;
}

.search-btn {
  border: none;
  background-color: #475569;
  height: 100%;
  width: 40px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .jobs-input-container-desktop {
    display: none;
  }
}

.profile-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  width: 95%;
  height: 170px;
  border-radius: 20px;
  padding: 22px 18px 20px 15px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 20px;
}

.profile-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-name {
  color: #4f46e5;
  font-size: 17px;
  font-family: 'Roboto';
  margin-bottom: 5px;
}

.role {
  color: #475569;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
}

.line {
  width: 100%;
  margin-top: 30px;
  color: #cbd5e1;
  margin-bottom: 30px;
}

.employment-heading {
  color: #cbd5e1;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0px;
}

.jobs-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
}

.loader-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.failure-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-img {
  width: 150px;
  margin-bottom: 10px;
}

.failure-heading {
  color: #ffffff;
  height: 30px;
  font-family: 'Roboto';
  font-weight: 600;
}

.failure-caption {
  color: #64748b;
  font-family: 'Roboto';
}

.retry-btn {
  height: 30px;
  width: 90px;
  color: #ffffff;
  background-color: #4f46e5;
  border: none;
  border-radius: 7px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .jobs-container {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 20px;
  }

  .side-bar-desktop-container {
    width: 25%;
    margin-right: 30px;
  }

  .jobs-input-container-mobile {
    display: none;
  }

  .profile-card {
    margin-top: 0px;
    width: 330px;
    height: 190px;
  }

  .profile-img {
    height: 50px;
    width: 50px;
  }

  .profile-name {
    font-size: 18px;
  }

  .role {
    font-size: 14px;
  }

  .loader-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
  }

  .jobs-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 0px;
  }

  .input-all-jobs-list-con {
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 100%;
    margin-left: 20px;
  }

  .para {
    color: white;
  }
}

.no-jobs-container {
  color: #ffffff;
  font-family: 'Roboto';
  text-align: center;
  margin-top: 20px;
}

.no-jobs-img {
  width: 70%;
}

@media screen and (min-width: 768px) {
  .no-jobs-img {
    width: 450px;
    height: 370px;
  }
}
